<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HDT.Plugins.Graveyard.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HDT.Plugins.Graveyard.Settings>
            <setting name="EnemyScale" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnemyOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FriendlyScale" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FriendlyOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PlayerTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnemyTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnemyLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnemyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NormalEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResurrectEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResurrectKazakus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnyfinEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NZothEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscardEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HadronoxEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GuldanEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShudderwockEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DragoncallerAlannaEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CavernsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MulchmuncherEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KangorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeathrattleEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WitchingHourEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoulwardenEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TessGreymaneEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZuljinEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HoardPillagerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LadyLiadrinEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NZothGotDEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RallyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysRallySeparately" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FriendlyOrientation" serializeAs="String">
                <value>Vertical</value>
            </setting>
            <setting name="SaurfangEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </HDT.Plugins.Graveyard.Settings>
    </userSettings>
</configuration>